<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/formulaireEsig.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        //en attendant de chargement de la page
        $(document).ready(
            function () {
                $('#cherche').keyup
                (
                    function () {
                        //envoyer un formulaire
                        $.post(
                            {
                                url:'cherche',
                                data:
                                    {
                                        //définition de variable et passer par post
                                        'mot' : $('#cherche').val(),
                                        //pour la sécurité du formulaire
                                        'csrfmiddlewaretoken' : $('input[name = csrfmiddlewaretoken]').val()
                                    },
                                success : function(data)
                                {
                                    //remplir les donneés en parmatère
                                    $('#resultat-chercher').html(data);
                                }

                            }
                        )
                    }
                );
            }
        );
    </script>

<!--Utilisation d'ajax-->


</head>
<body >
<h1>Liste des utilisateurs</h1>
<div>
    <a href="{% url 'formulaireEsig.views.uti_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <p>Cherche : <input type="text" id="cherche" name="cherche"/> </p> {% csrf_token %}
</div>

<hr >

<div id="resultat-chercher" >
    {% include "formulaireEsig/liste.html" %}
</div>

</body>
</html>

